[client]
port                           = 3306
socket                         = /var/run/mysqld/mysqld.sock

[mysql]
default_character_set          = utf8

[mysqld]
port                           = 3306
socket                         = /var/run/mysqld/mysqld.sock
character_set_server           = utf8
