[client]
port                           = 3306

[mysql]
default_character_set          = utf8

[mysqld]
port                           = 3306
user                           = root
password                       =
character_set_server           = utf8

ssl                            = 1
ssl_cert                       = ./.travis/ssl.crt
ssl_key                        = ./.travis/ssl.key
