[client]
port                           = 3307
socket                         = /var/run/mysqld/mysql_secure.sock

[mysql]
default_character_set          = utf8

[mysqld]
port                           = 3307
user                           = root
password                       =
socket                         = /var/run/mysqld/mysql_secure.sock
#datadir                        = /var/lib/mysql_secure
character_set_server           = utf8

ssl                            = 1
ssl_cert                       = ./.travis/ssl.crt
ssl_key                        = ./.travis/ssl.key
